*{
    margin: 0;
    padding: 0;
}
h1{
    color: yellow;
}
body{
    background-color: #283618;
    text-align: center;
}
.msg-container{
    
    margin-top: 40px;
    
}
.msg-container p{
    display: inline;
    background-color: #7a9c53;
    font-size: 40px;
    padding: 10px;
    border-radius: 9px;
    width: 40px;
}
.hide{
    display: none;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(251, 240, 21, 0.5);
    font-size: 60px;
    color: rgb(45, 123, 135);
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset{
    background-color: black;
    color: white;
    height: 40px;
    /* width: 100px; */
    border-radius: 10px;
    border: none;
    font-size: larger;
    display: inline;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.newgame{
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
    font-size: larger;
    display: inline;
    margin-left: 20px;
    margin-top: 40px;
    padding: 10px;
}
.rene{
    display: flex;
    align-items: center;
    justify-content: center;
}